@charset "UTF-8";

body{
	
	margin: 0;
	padding: 0;

}

li.font{
	color: #000000;
}
table.main{
	 color: #d5bca6;

	width: 100%;
	height: 60px; 
	text-align: center;
}
.menu {
  list-style: none; 
  margin: 0;
  padding: 0;
  list-style-type:none;
  border: 1px;
}

.menu > li {
  display: inline-block;
  position: relative;
  list-style-type:none;
  

}



.sub-menu {
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type:none;
  text-align: center;
  width: 120px; 
  
 
  
}

.menu > li:hover .sub-menu {
  display: block;
}
